<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\Database\Database.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		
		<!-- BROKER -->
		<add key= "port" value="1883"/>
		<add key="serverIP" value="127.0.0.1"/>
		<add key="userName" value="nhandev"/>
		<add key="password" value="123456"/>
		<!-- BROKER -->
	</appSettings>
</configuration>