<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\Database\Database.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		
		<!--CAMERA-->
		<add key= "isTurnOnCamera" value="0"/>
		<add key= "cameraVaoTruoc" value="rtsp://192.168.31.236:5544"/>
		<add key= "cameraVaoSau" value="rtsp://192.168.31.106:5544"/>
		<add key= "cameraRaTruoc" value="1883"/>
		<add key= "cameraRaSau" value="1883"/>
		<!-- -->
		<!-- END CAMERA-->
		

		<!-- BROKER -->
		<add key= "port" value="1883"/>
		<add key="serverIP" value="127.0.0.1"/>
		<add key="userName" value="nhandev"/>
		<add key="password" value="123456"/>
		<!-- END BROKER -->
	</appSettings>
</configuration>