<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=.\Database\Database.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="readerReconnectTime" value="500"/>
		<!--ms -->

		<add key="readerType" value="3"/>
		<!--	SYC_R16 = 1,
				ZTX_G20 = 2,
				CF_RU6403 = 3
		-->

		<add key="connectType" value="1"/>
		<!--	COM = 1,
				USB = 2,
				TcpCli = 3,
				TcpSvr = 4,
				UDP = 5
		-->


		<add key="TIDFlag" value="1"/>

		<add key="beepEn" value="0"/>

		<add key="antenna" value="03"/> 
		<!-- 0011 : ANT4-ANT1-->
		<!-- 1111 1111 : ANT8-ANT1 -->

		<add key="antennaIn" value="1"/> <!-- sử dụng dấu + để thêm antenna vd 1+2 -->

		<add key="antennaOut" value="2"/>

		<add key="connectDevide" value="CH340"/>

		<add key="baundRate" value="3"/>
		<!--
			"9600bps = 0",
			"19200bps = 1",
			"38400bps = 2",
			"57600bps = 3",
			"115200bps = 4";
		-->

		<add key="maxInventoryTime" value="50"/>
		<!--ms -->
		<add key="region" value="USband"/>

		<add key="power" value="30"/>
		<!--
			Số nguyên từ 1-30dbm
		-->

		<!--
		<add key="comPort" value="COM8"/>
		-->
		<add key="GPIO" value="F"/>
		<!-- 1111 : Out1, Out2, In1, In2 -->

		<add key="encPass" value="1"/>

		<!-- BROKER -->
		<add key= "port" value="1883"/>
		<add key="serverIP" value="127.0.0.1"/>
		<add key="userName" value="nhandev"/>
		<add key="password" value="123456"/>
		<!-- BROKER -->
		<add key="pathLogFile" value="C:\\log_service.txt"/>
	
	</appSettings>
</configuration>